<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    html{
        padding:15px;
    }
</style>

<body>
    <div class="info">
        <h1>{{author.first_name}} {{author.last_name}}</h1>
        <h2>ID: {{author.id}}</h2>        
        <p>Notes:{{author.notes}}</p>
        <ul>Books:
            {% for book in author.books.all %}
            <li>{{book}}</li>
            {% endfor %}
        </ul>
        <form action="/add_book_to_author" method="post">{% csrf_token %}
            <input type="hidden" name="author_id" value="{{author.id}}">
            <select name="book_id">
                {% for book in all_books %}
                    <option value="{{book.id}}">{{book}}</option>
                {% endfor %}
            </select>
            <button>Add</button>
        </form>
        <a href="/authors">Back to All Authors</a>
    </div>
    


</body>
</html>